{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-confusing-arrow": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    # "arrow-body-style": [2, "always"],
    "react/jsx-no-bind": [1, {
      # "ignoreRefs": <boolean> || false,
      "allowArrowFunctions": true,
      # "allowBind": <boolean> || false
    }],
  }
}
